# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/workspace.xml
node_modules/.staging/
node_modules/http/
node_modules/https/
node_modules/is-typedarray/
node_modules/nan/
node_modules/typedarray-to-buffer/
node_modules/websocket/
node_modules/yaeti/
credential/
